.machine {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 50px auto;
    border: 1px solid black;
    grid-gap: 1px;
    background-color: black;
}

.machine > div {
    background-color: white;
    width: 100%;
    position: relative;
}

.machine h2 {
    margin-bottom: 50px;
}

.container {
    height: 250px;
    width: 400px;
    max-width: 80%;
    margin: 20px auto;
    border: 1px solid black;
    border-top: 0;
    position: relative;
}

.tap .pipe {
    margin: 0 auto;
    width: 30px;
    background-color: silver;
    border: 2px solid black;
    height: 50%;
}

.tap .stream {
    height: 50%;
    margin: 0 auto;
    width: 30px;
}

.tap .stream-in-progress {
    background-color: saddlebrown;
}

.fill {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.fill-coffee {
    background-color: saddlebrown;
}

.controls ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.controls li {
    margin-bottom: 20px;
}

.controls button {
    cursor: pointer;
    padding: 10px 6px;
    width: 100px;
}

.cup-holder {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cup {
    width: 80%;
    height: 80%;
    border: 2px solid black;
    border-top: none;
}